In [3]:
import numpy as np
import pandas as pd

# Uvod v pandas - Domača naloga

[Vir](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

### 1. How to combine many series to form a dataframe?

Combine ser1 and ser2 to form a dataframe.

In [2]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [5]:
#Rešitev

pd.concat([ser1.rename('ser1'),ser2.rename('ser2')],axis=1)

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

### 2. How to assign name to the series’ index?

Give a name to the series ser calling it ‘alphabets’.

In [6]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [7]:
#Rešitev
ser.rename('alphabets')

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

### 3. How to get the items of series A not present in series B?

From ser1 remove items present in ser2.

**Pomoč:** Metoda .isin()

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [12]:
#Rešitev
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 4. How to get frequency counts of unique items of a series?

Calculte the frequency counts of each unique value ser.

In [14]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     a
1     a
2     b
3     h
4     h
5     c
6     a
7     f
8     d
9     g
10    d
11    e
12    f
13    d
14    a
15    c
16    h
17    f
18    f
19    e
20    h
21    h
22    f
23    f
24    a
25    c
26    h
27    c
28    c
29    d
dtype: object

In [19]:
#Rešitev
ser.value_counts()

h    6
f    6
a    5
c    5
d    4
e    2
g    1
b    1
dtype: int64

### 5. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [44]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     4
1     1
2     2
3     4
4     2
5     4
6     1
7     2
8     1
9     2
10    4
11    3
dtype: int32

In [45]:
#Rešitev
ser[~ser.isin(ser.value_counts().head(2).index)]='Other'
ser

0         4
1     Other
2         2
3         4
4         2
5         4
6     Other
7         2
8     Other
9         2
10        4
11    Other
dtype: object

### 6. How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

**Pomoč:** Metoda .take()

In [46]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [47]:
#Rešitev
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### 7. How to convert the first character of each element in a series to uppercase?

Change the first character of each word to upper case in each word of ser.

In [48]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [49]:
#Rešitev
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

### 8. How to convert a series of date-strings to a timeseries?

In [50]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [51]:
#Rešitev
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### 9.  How to get the day of month, week number, day of year and day of week from a series of date strings?

Get the day of month, week number, day of year and day of week from ser.

In [34]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [65]:
#Rešitev
pd.to_datetime(ser).dt.day

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [66]:
pd.to_datetime(ser).dt.week

0    53
1     5
2     9
3    14
4    19
5    23
dtype: int64

In [67]:
pd.to_datetime(ser).dt.dayofyear

0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64

In [70]:
pd.to_datetime(ser).dt.weekday_name
#pd.to_datetime(ser).dt.day_name #pd 23.0 naprej

0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

### 10. How to filter valid emails from a series?

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [4]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [5]:
#Rešitev
emails

0    buying books at amazom.com
1             rameses@egypt.com
2                     matt@t.co
3             narendra@modi.com
dtype: object

In [9]:
emails[emails.str.contains(pattern)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### 11. How to change column values when importing csv to a dataframe?

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

**Pomoč:** Uporaba parametra converter v read_csv() funkciji.

In [83]:
#Rešitev
def convert_median(col): 
    if float(col)<25: 
       return 'Low' 
    else: 
       return 'High'

serija=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', converters={"medv": lambda x:convert_median(x)})

serija

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,High
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,Low
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,High
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,Low
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,Low
10,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,Low
11,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.27,Low
12,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,Low
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,Low
14,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,Low
15,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,Low
16,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,Low
17,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,Low
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,Low
19,0.72580,0.0,8.14,0,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.28,Low
20,1.25179,0.0,8.14,0,0.538,5.570,98.1,3.7979,4,307,21.0,376.57,21.02,Low
21,0.85204,0.0,8.14,0,0.538,5.965,89.2,4.0123,4,307,21.0,392.53,13.83,Low
22,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,Low
23,0.98843,0.0,8.14,0,0.538,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,Low
24,0.75026,0.0,8.14,0,0.538,5.924,94.1,4.3996,4,307,21.0,394.33,16.30,Low
25,0.84054,0.0,8.14,0,0.538,5.599,85.7,4.4546,4,307,21.0,303.42,16.51,Low
26,0.67191,0.0,8.14,0,0.538,5.813,90.3,4.6820,4,307,21.0,376.88,14.81,Low
27,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307,21.0,306.38,17.28,Low
28,0.77299,0.0,8.14,0,0.538,6.495,94.4,4.4547,4,307,21.0,387.94,12.80,Low
29,1.00245,0.0,8.14,0,0.538,6.674,87.3,4.2390,4,307,21.0,380.23,11.98,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,4.87141,0.0,18.10,0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,Low
477,15.02340,0.0,18.10,0,0.614,5.304,97.3,2.1007,24,666,20.2,349.48,24.91,Low
478,10.23300,0.0,18.10,0,0.614,6.185,96.7,2.1705,24,666,20.2,379.70,18.03,Low
479,14.33370,0.0,18.10,0,0.614,6.229,88.0,1.9512,24,666,20.2,383.32,13.11,Low
480,5.82401,0.0,18.10,0,0.532,6.242,64.7,3.4242,24,666,20.2,396.90,10.74,Low
481,5.70818,0.0,18.10,0,0.532,6.750,74.9,3.3317,24,666,20.2,393.07,7.74,Low
482,5.73116,0.0,18.10,0,0.532,7.061,77.0,3.4106,24,666,20.2,395.28,7.01,High
483,2.81838,0.0,18.10,0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42,Low
484,2.37857,0.0,18.10,0,0.583,5.871,41.9,3.7240,24,666,20.2,370.73,13.34,Low
485,3.67367,0.0,18.10,0,0.583,6.312,51.9,3.9917,24,666,20.2,388.62,10.58,Low
486,5.69175,0.0,18.10,0,0.583,6.114,79.8,3.5459,24,666,20.2,392.68,14.98,Low
487,4.83567,0.0,18.10,0,0.583,5.905,53.2,3.1523,24,666,20.2,388.22,11.45,Low
488,0.15086,0.0,27.74,0,0.609,5.454,92.7,1.8209,4,711,20.1,395.09,18.06,Low
489,0.18337,0.0,27.74,0,0.609,5.414,98.3,1.7554,4,711,20.1,344.05,23.97,Low
490,0.20746,0.0,27.74,0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,Low
491,0.10574,0.0,27.74,0,0.609,5.983,98.8,1.8681,4,711,20.1,390.11,18.07,Low
492,0.11132,0.0,27.74,0,0.609,5.983,83.5,2.1099,4,711,20.1,396.90,13.35,Low
493,0.17331,0.0,9.69,0,0.585,5.707,54.0,2.3817,6,391,19.2,396.90,12.01,Low
494,0.27957,0.0,9.69,0,0.585,5.926,42.6,2.3817,6,391,19.2,396.90,13.59,Low
495,0.17899,0.0,9.69,0,0.585,5.670,28.8,2.7986,6,391,19.2,393.29,17.60,Low
496,0.28960,0.0,9.69,0,0.585,5.390,72.9,2.7986,6,391,19.2,396.90,21.14,Low
497,0.26838,0.0,9.69,0,0.585,5.794,70.6,2.8927,6,391,19.2,396.90,14.10,Low
498,0.23912,0.0,9.69,0,0.585,6.019,65.3,2.4091,6,391,19.2,396.90,12.92,Low
499,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,Low
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,Low
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,Low
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,Low
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,Low
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,Low
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,Low

### 12. How to import only specified columns from a csv file?

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [84]:
#Rešitev
serija=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',usecols=['crim', 'medv'])

serija

         crim  medv
0     0.00632  24.0
1     0.02731  21.6
2     0.02729  34.7
3     0.03237  33.4
4     0.06905  36.2
5     0.02985  28.7
6     0.08829  22.9
7     0.14455  27.1
8     0.21124  16.5
9     0.17004  18.9
10    0.22489  15.0
11    0.11747  18.9
12    0.09378  21.7
13    0.62976  20.4
14    0.63796  18.2
15    0.62739  19.9
16    1.05393  23.1
17    0.78420  17.5
18    0.80271  20.2
19    0.72580  18.2
20    1.25179  13.6
21    0.85204  19.6
22    1.23247  15.2
23    0.98843  14.5
24    0.75026  15.6
25    0.84054  13.9
26    0.67191  16.6
27    0.95577  14.8
28    0.77299  18.4
29    1.00245  21.0
..        ...   ...
476   4.87141  16.7
477  15.02340  12.0
478  10.23300  14.6
479  14.33370  21.4
480   5.82401  23.0
481   5.70818  23.7
482   5.73116  25.0
483   2.81838  21.8
484   2.37857  20.6
485   3.67367  21.2
486   5.69175  19.1
487   4.83567  20.6
488   0.15086  15.2
489   0.18337   7.0
490   0.20746   8.1
491   0.10574  13.6
492   0.11132  20.1
493   0.17331  21.8
494   0.27957  24.5
495   0.17899  23.1
496   0.28960  19.7
497   0.26838  18.3
498   0.23912  21.2
499   0.17783  17.5
500   0.22438  16.8
501   0.06263  22.4
502   0.04527  20.6
503   0.06076  23.9
504   0.10959  22.0
505   0.04741  11.9

[506 rows x 2 columns]

### 12. How to check if a dataframe has any missing values?

Check if df has any missing values.

In [86]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [92]:
#Rešitev
df.isnull().values.any()

True

## Dodaten izziv
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [93]:
import pandas as pd

df = pd.read_csv('data/DN_olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,? Summer,Gold,Silver,Bronze,Total,? Winter,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [94]:
# You should write your whole answer within the function provided.
def answer_zero(df):
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero(df)

? Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
? Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
? Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [100]:
def answer_one(df):
    return df[df['Gold']==df['Gold'].max()].index[0]
answer_one(df)

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [105]:
def answer_two(df):
    df['sort']=(df['Gold']-df['Gold.1'])
    return df[df['sort']==df['sort'].max()].index[0]
answer_two(df)

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [106]:
def answer_three(df):
    df['sort']=(df['Gold']-df['Gold.1'])/df['Gold.2']
    return df[df['sort']==df['sort'].max()].index[0]
answer_three(df)

'Algeria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [107]:
def answer_four(df):
    df['sort']=df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1
    return df['sort'].rename('Points')
answer_four(df)

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64