In [61]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Web Scraping

- **Spletna stran:** https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
- **Tabela:** Sovereign states and dependencies by population

### Naloga

Tabelo na zgornji strani pretvorite v urejen pandas dataframe, ki vsebuje naslednje stolpce (pozor na ustrezen tip in index):
- Rank: (Index) - int
- Country name: - object
- Population - int
- Date - Datetime
- % of world population - int

In [62]:
url='https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

In [63]:
df=pd.read_html(url)[0]
#df=df.set_index('Rank')
df['Country(or dependent territory)'] = df['Country(or dependent territory)'].str.split('[').str.get(0)
df=df.drop('Source',axis=1)
df['Rank']=pd.to_numeric(df['Rank'],errors='coerce')
df['% of worldpopulation']=df['% of worldpopulation'].str.replace('%','')
df=df.dropna()
df = df.astype({"Rank": int,'% of worldpopulation':float})
df['Date']=pd.to_datetime(df['Date'])
df = df.astype({'% of worldpopulation':int})
df=df.set_index('Rank')
df.dtypes

Country(or dependent territory)            object
Population                                  int64
Date                               datetime64[ns]
% of worldpopulation                        int64
dtype: object

In [64]:
df

,Country(or dependent territory),Population,Date,% of worldpopulation
Rank,,,,
1,China,1397510000,2019-05-27,18
2,India,1347720000,2019-05-27,17
3,United States,329272000,2019-05-27,4
4,Indonesia,268074600,2019-07-01,3
5,Brazil,209959000,2019-05-27,2
6,Pakistan,204798000,2019-05-27,2
7,Nigeria,200962417,2019-07-01,2
8,Bangladesh,166622000,2019-05-27,2
9,Russia,146793744,2019-01-01,1
10,Mexico,126577691,2019-07-01,1
11,Japan,126200000,2019-05-01,1
12,Philippines,107697000,2019-05-27,1
13,Egypt,98722400,2019-05-27,1
14,Ethiopia,98665000,2019-07-01,1
15,Vietnam,95354000,2019-07-01,1
16,Democratic Republic of the Congo,86727573,2019-07-01,1
17,Germany,82979100,2018-09-30,1
18,Iran,82482600,2019-05-27,1
19,Turkey,82003882,2018-12-31,1
20,France,66992000,2019-04-01,0
21,Thailand,66368092,2019-05-27,0
22,United Kingdom,66040229,2017-06-30,0
23,Italy,60375749,2018-11-30,0
24,South Africa,57725600,2018-07-01,0
25,Tanzania,55890747,2019-07-01,0
26,Myanmar,54339766,2019-07-01,0
27,Kenya,52214791,2019-07-01,0
28,South Korea,51811167,2019-07-01,0
29,Colombia,49849818,2019-07-01,0
30,Spain,46733038,2018-07-01,0
...,...,...,...,...
166,Cape Verde,550483,2019-07-01,0
167,Malta,475701,2017-12-31,0
168,Brunei,421300,2017-07-01,0
169,Belize,398050,2018-07-01,0
170,Bahamas,385340,2019-07-01,0
171,Maldives,378114,2017-12-31,0
172,Iceland,358780,2019-03-31,0
173,Vanuatu,304500,2018-07-01,0
174,Barbados,287010,2019-07-01,0
175,São Tomé and Príncipe,201784,2018-07-01,0
176,Samoa,200874,2019-07-01,0
177,Saint Lucia,180454,2019-07-01,0
178,Kiribati,120100,2018-07-01,0
179,Saint Vincent and the Grenadines,110608,2019-07-01,0
180,Grenada,108825,2019-07-01,0
181,Federated States of Micronesia,105300,2018-07-01,0
182,Antigua and Barbuda,104084,2019-07-01,0
183,Tonga,100300,2018-07-01,0
184,Seychelles,96762,2018-06-30,0
185,Andorra,76177,2018-12-31,0
186,Dominica,74679,2019-07-01,0
187,Saint Kitts and Nevis,56345,2019-07-01,0
188,Marshall Islands,55500,2018-07-01,0
189,Liechtenstein,38380,2018-12-31,0
190,Monaco,38300,2018-12-31,0
191,San Marino,33422,2019-03-31,0
192,Palau,17900,2018-07-01,0
193,Nauru,11000,2018-07-01,0
194,Tuvalu,10200,2018-07-01,0
195,Vatican City,800,2014-01-01,0